<h1>Coaching#answer</h1>
<p>Find me in app/views/coaching/answer.html.erb</p>

<div>
<p class="text">You: </p>
<p class="text2"> <%= @query %> </p>
<p class="text">Coach: </p>
<p class="text2"><%= @answer %> </p>
</div>

<%= link_to 'Ask a new question', ask_path %>
